<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:name="_csrf" th:content="${_csrf.token}"/>
		<!-- 默认的header name是X-CSRF-TOKEN -->
		<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
		<meta charset="utf-8">
		<title></title>
		<script th:src="@{/assets/js/jquery.min.js}"></script>
		<link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>

<!--		jquery 标签输入框插件-->
		<link th:href="@{/back/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
		<style>
			h1{
				margin-top: 200px;
				color: #5FB878;
			}
			.layui-card-body{
				height: 150px;
			}
			#btns{
				width: 360px;
				height: 38px;
				margin-left: 900px;
			}
		</style>
	</head>
	<body class="pear-container">
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body">
					<span style="color: green;font-size: 22px" th:text="${ps}"></span>
					<br/>
					标题：<br/>
					<input id="title" class="layui-input" type="text" style="width: 40%" required>
					标签：<br/>
					<input class="layui-input" type="text" id="tags" style="width: 40%" required>
				</div>
			</div>
		</div>
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header"><span style="color: green;font-size: 15px;">文章编辑器</span></div>
				<div class="layui-card-body">
					<textarea name="" id="edit" cols="30" rows="10"></textarea>
					<div id="btns">

						<div class="layui-btn-group layui-btn-primary" style="margin-top: 10px">
							<a href="#" class="layui-btn layui-btn-radius" target="_blank">返回列表</a>
						</div>
						<div class="layui-btn-group" style="margin-top: 10px">
							<a href="#" class="layui-btn layui-btn-warm layui-btn-radius" target="_blank">放入草稿</a>
						</div>
						<div class="layui-btn-group" style="margin-top: 10px">
							<button onclick="publish()" class="layui-btn layui-btn-radius" target="_blank">发布文章</button>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
	<script th:src="@{/component/pear/module/tinymce/tinymce.js}"></script>
	<script th:src="@{/back/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
	<script th:src="@{/component/layui/layui.js}"></script>
	<script th:src="@{/component/pear/pear.js}"></script>
	<script th:inline="javascript">
		var myedit;
		layui.use(['tinymce'], function() {
			var tinymce = layui.tinymce
			var edit = tinymce.render({
				elem: "#edit",
				height: 400
			});
			myedit=edit;
		});

		//发布文章
		function publish(){
			let content = myedit.getContent(); //获取tinymce编译器内容
			var titleVal=$('#title').val();
			var tagsVal=$('#tags').val();
			$.ajax({
				url: '/pear/article/publish',
				data:{
					'content':content,
					'title':titleVal,
					'tags':tagsVal
				},
				dataType: 'json',
				contentType: 'application/json',
				type: 'get',
				success: function (result) {
					if (result.success) {
						myedit.setContent(''); //成功之后置空
						$('#title').val(''); //标题置空
						// $('#tags').val(''); //标签置空
						// popup.success(result.msg);
						layer.msg(result.msg, {
							icon: 1,
							time: 1000
						});
					} else {
						// popup.failure(result.msg);
						layer.msg(result.msg, {
							icon: 2,
							time: 1000
						});
					}
				}
			})


		}



		// Tags Input
		$('#tags').tagsInput({
			width: '39%',
			height: '35px',
			defaultText: '请输入文章标签'
		});

		$('#tags_tag').css('width','90.4px');


		//编辑文章的数据填充
		var articleContent=[[${contents}]];
		if(articleContent!=null){
			console.log(articleContent.id);
			console.log(articleContent.title);
			console.log(articleContent.content);
			console.log(articleContent.tags);
		}



	</script>
	</body>




</html>
