<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>附件管理</title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />

    <link href="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/css/fileinput.min.css" rel="stylesheet">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">



    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css"
          rel="stylesheet">

    <!--    jq-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>



    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

    <!-- 如果你想在上传之前修改图片大小需要加入canvas-to-blob.min.js  它必须在fileinput.min.js之前引入 -->
    <script src="https://cdn.bootcss.com/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.js"></script>

    <!-- 如果你想在最初的预览中排序/重新排列需要引入sortable.min.js  它必须在fileinput.min.js之前引入 -->
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/plugins/sortable.min.js"></script>

    <!-- 如果你想在HTML文件预览中净化HTML内容则要引入purify.min.js is  它必须在fileinput.min.js之前引入 -->
    <script src="https://cdn.bootcss.com/dompurify/1.0.10/purify.min.js"></script>

    <!-- 主要的 fileinput 插件库 -->
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>

    <!-- 如果你想在放大的模态页面中查看文件详细信息需要引入bootstrap.js -->
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- 可选，如果你需要像font awesome 这样的主题，就像下面的代码一样引入它 -->
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/locales/fa.min.js"></script>

    <!-- 可选，如果你需要转换语言或翻译，就包含这个库 -->
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/locales/zh.min.js"></script>


    <script th:src="@{/back/js/bootstrap.js}"></script>
    <script th:src="@{/back/js/sweetalert2.min.js}"></script>
    <script th:src="@{/back/js/jquery.app.js}"></script>
    <script th:src="@{/back/js/base.js}"></script>
</head>

<style>
    .ip_input {
        width: 40px;
        height: 20px;
        font: normal 16px 宋体;
        color: #000000;
        border: 0px;
        text-align: center;
        position: relative;
        top: 1px;
    }

    .all_input {
        width: 210px;
        height: 30px;
        font: normal 8px 宋体;
        color: #000000;
        border: 1px solid #000000;
        text-align: center;
    }

    #i1 {
        width: 260px;
        height: 30px;
        float: left;
    }

    #i2 {
        width: 54px;
        height: 33.6px;
        float: left;
    }

    #context {
        width: 190px;
        height: 33.6px;
        float: left;
    }

</style>

<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">附件管理</li>
                <li>附件上传</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

<!--                    图片展示-->
                    <div id="show" class="row">

                        <div class="col-lg-2 col-md-3 col-sm-6 col-6 div-thumbnail img-rounded text-center m-t-10"
                             th:each="img: ${imgs}">
                            <a target="_blank">
                                <img class="img-thumbnail img-fluid img-responsive"
                                     th:src="${img.getSmall_img()}">
                            </a>

                            <div class="clearfix">
                                <a type="button" th:href="@{'/img/dowmloadImg?f='+${img.getId()}}"
                                   class="btn btn-warning btn-sm waves-effect waves-light m-t-5 copy">
                                    <i class="fa fa-copy"></i>
                                    <span>下载</span>
                                </a>
                                <a type="button" href="" class="btn btn-danger btn-sm waves-effect waves-light m-t-5">
                                    <i class="fa fa-trash-o"></i>
                                    <span>删除</span>
                                </a>
                            </div>

                        </div>

                    </div>



                </div>
                <div class="layui-tab-item">

                    <!--                    图片上传-->
                    <div id="up" class="col-md-12">


                        <form method="post" th:action="@{/img/imgupload}" class="form-horizontal" role="form"
                              id="global-form" enctype="multipart/form-data">

                            <input id="uploadPicture" name="files" type="file" multiple=true class="file-loading">


                            <div class="clearfix pull-right">
                                <button id="btn1" type="submit"
                                        class="btn btn-primary waves-effect waves-light">
                                    开始上传
                                </button>
                            </div>

                        </form>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>


<script type="text/html" id="log-createTime">
    {{layui.util.toDateString(d.visit_time,  "yyyy-MM-dd HH:mm:ss")}}
</script>
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['table','form','jquery','element'],function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;



        form.on('submit(dict-type-query)', function(data){
            table.reload('dict-type-table',{where:data.field})
            return false;
        });



        window.error = function(obj){
            layer.open({
                type: 1,
                title: '异常信息',
                shade: 0,
                area: ['450px', '350px'],
                content: '<div class="pear-container"><div class="layui-card"><div class="layui-card-body">'+obj.data['error']+'</div></div></div>'
            });
        }


        $(function () {
            $("#uploadPicture").fileinput({
                uploadUrl: "http://localhost:8080/img/imgupload",
                previewFileType: "image",
                uploadAsync: true,
                showCaption: false,
                allowedFileExtensions: ["png", "jpg", "jpeg", "ico", "bmp"],
                enctype: 'multipart/form-data',
                //隐藏上传按钮
                showUpload: false,
                //最大上传文件数量
                maxFileCount: 8,
                //上传文件最大大小（kb）
                maxFileSize: 5120,
                showBrowse: true,
                dropZoneTitle: '拖拽头像图片到这里...',
                browseLabel: "选择图片",
                uploadClass: "btn btn-info",
                uploadLabel: "上传",
                removeClass: "btn btn-danger",
                autoReplace: true,
                removeLabel: "移除",
                msgSizeTooLarge: '图片文件太大！',
                msgFilesTooMany: "选择上传的文件数量为({n}) 超过允许的最大数值({m})！",
                msgUploadEnd: '图片上传成功！',
                msgUploadBegin: '初始化中...',
                msgZoomModalHeading: '图片详情预览',
                msgInvalidFileExtension: '非法文件扩展名 "{name}"！ 仅支持 "{extensions}" 的文件扩展名！'
            }).on('fileerror', function (event, data, msg) {
                alert('图片上传失败！' + msg);
            }).on('fileuploaded', function (event, data) {
                $("#picName").val(data.response.name);
                $('#uploadPicture').fileinput('disable');
            }).on('fileclear', function (event) {
                alert("图片被清除啦！");
            });

        });
        $('.layui-tab-content').css('height','500px');

    })
</script>
</html>