<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.AuthorityMapper">

    <select id="selectUserAuthority" resultType="com.boot.pojo.Authority">
        select * from t_authority
    </select>


    <select id="selectAuthorityByid" resultType="java.lang.String">
        select authority from t_authority where id=#{id}
    </select>
    
</mapper>