<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.categoryMapper">

    <update id="updateCategoryCount">
    update t_categories set categoryCount = categoryCount+1 where categoryName=#{categoryName}
    </update>


    <update id="updateCategoryCountDecr">
    update t_categories set categoryCount = categoryCount-1 where categoryName=#{categoryName}
    </update>


    <select id="selectCategories" resultType="com.boot.pojo.category">
        select * from t_categories
    </select>



</mapper>

