<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.CommentMapper">



    <select id="SelectCommentsByArticleId" resultType="com.boot.pojo.Comment">
        select * from t_comment where article_id=#{id}
    </select>

    <select id="selectCommentsOrderCreateDate" resultType="com.boot.pojo.Comment">
        select * from t_comment order by created desc
    </select>

    <delete id="deleteCommentByArticleId">
        delete from t_comment where article_id=#{id}
    </delete>

    <insert id="publishComment" parameterType="com.boot.pojo.Comment" keyProperty="id" useGeneratedKeys="true">
        insert into t_comment (article_id,created,ip,c_content,status,author) values (#{articleId},#{created},#{ip},#{c_content},#{status},#{author});
    </insert>


</mapper>

