<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.DraftMapper">


    <select id="selectAllDraft" resultType="com.boot.pojo.Draft">
        select * from t_draft where username=#{username}
    </select>


    <select id="selectDraftCount" resultType="int">
        select count(*) from t_draft where username=#{username}
    </select>


    <select id="selectDraftByID" resultType="com.boot.pojo.Draft">
        select * from t_draft where id=#{id}
    </select>


    <delete id="deleteDraftByID">
        delete from t_draft where id=#{id}
    </delete>

    
    <update id="modifyDraft" parameterType="com.boot.pojo.Draft">
        update t_draft
        set
        title=#{title},
        content=#{content},
        modified=#{modified},
        tags=#{tags}
        where id=#{id}
    </update>
    
    <insert id="addDraft" parameterType="com.boot.pojo.Draft">
        insert into t_draft (username,title,content,created,tags)
        values (#{username},#{title},#{content},#{created},#{tags})
        
    </insert>
</mapper>
