<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.interceptMapper">

    <insert id="insertIntercept" parameterType="com.boot.pojo.intercept">
        insert into t_intercept (intercept_ip,intercept_address,intercept_browser,intercept_os,intercept_time,desc)
        values (
        #{intercept_ip},
        <if test="intercept_address == null">
            '',
        </if>
        <if test="intercept_address != null">
            #{intercept_address},
        </if>
        <if test="intercept_browser == null">
            '',
        </if>
        <if test="intercept_browser != null">
            #{intercept_browser},
        </if>
        <if test="intercept_os == null">
            '',
        </if>
        <if test="intercept_os != null">
            #{intercept_os},
        </if>
        #{intercept_time},
        <if test="desc == null">
            ''
        </if>
        <if test="desc != null">
            #{desc}
        </if>
        )

    </insert>


</mapper>