<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.linkMapper">

    <select id="selectAllLink" resultType="com.boot.pojo.link">
        select * from t_link
    </select>

    <update id="updateLink" parameterType="com.boot.pojo.link">
         update t_link set title=#{title},link=#{link} where id=#{id}
    </update>

    <insert id="insertLink" parameterType="com.boot.pojo.link">
        insert into t_link(title,link) values(#{title},#{link})
    </insert>

    <delete id="deleteLink">
        delete from t_link where id=#{id}
    </delete>

    <select id="selectLinkByTitle" resultType="com.boot.pojo.link">
        select * from t_link where title=#{title}
    </select>

    <select id="selectCountByTitle" resultType="int">
        select count(*) from t_link where title=#{title}
    </select>


</mapper>