<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.LoginLogMapper">

    <insert id="insertLoginLog" parameterType="com.boot.pojo.LoginLog">
        insert into t_loginlog (lg_username,lg_ip,lg_address,lg_browser,lg_os,lg_time,lg_type)
        values (
        #{username},#{ip},
        <if test="address == null">
            '暂未检测到地址',
        </if>
        <if test="address != null">
            #{address},
        </if>
        <if test="browser == null">
            '暂未检测到浏览器',
        </if>
        <if test="browser != null">
            #{browser},
        </if>
        <if test="os == null">
            '暂未检测到操作系统',
        </if>
        <if test="os != null">
            #{os},
        </if>
        #{time},#{type}
        )
    </insert>


<!--    如果实体类字段和数据库字段名不一致，要用resultMap，不然会查空-->

    <resultMap id="lg1" type="com.boot.pojo.LoginLog">
        <result property="id" column="id"/>
        <result property="username" column="lg_username"/>
        <result property="ip" column="lg_ip"/>
        <result property="address" column="lg_address"/>
        <result property="browser" column="lg_browser"/>
        <result property="os" column="lg_os"/>
        <result property="time" column="lg_time"/>
        <result property="type" column="lg_type"/>
    </resultMap>
    <select id="selectLoginLogAll" resultMap="lg1">
        select * from t_loginlog order by lg_time desc
    </select>
    

    <select id="loginLogCount" resultType="int">
        select count(*) from t_loginlog
    </select>


</mapper>