<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.tagMapper">

    <insert id="addTag" parameterType="com.boot.pojo.tag">
        insert into t_tag (tagName,tagCount) values (#{tagName},#{tagCount})
    </insert>

    <update id="changeTagByTagNameDecr">
        update t_tag set tagCount = tagCount-1  where tagName=#{tagName}
    </update>

    <update id="changeTagByTagNameIncr">
        update t_tag set tagCount = tagCount+1  where tagName=#{tagName}
    </update>

    <insert id="insertTag">
        insert into t_tag (tagName,tagCount) values (#{tagName},1)
    </insert>

    <select id="selectAllTag" resultType="com.boot.pojo.tag">
        select id,tagName,tagCount from t_tag order by tagCount desc
    </select>

    <select id="selectTags_echarts" resultType="com.boot.pojo.tag">
         select tagName,tagCount from t_tag order by tagCount desc limit 4
    </select>

</mapper>