<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.TimeCalcMapper">

    <insert id="insertTimeCalc" parameterType="com.boot.pojo.TimeCalc">
        insert into t_timecalc(uri,calc,`time`)
        values (#{uri},#{calc},#{time})
    </insert>


    <select id="selectAllTimeCalc">
        select * from t_timecalc order by `time` desc
    </select>

</mapper>