<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.userDetailMapper">

    <select id="selectUserDetailByUserName" resultType="com.boot.pojo.userDetail">
        select * from t_user_detail where name =#{name}
    </select>

    <update id="updateUserDetail" parameterType="com.boot.pojo.userDetail">
        update t_user_detail
        <set>
            <if test="blogName != null and blogName != ''">
                blogName=#{blogName},
            </if>
            <if test="job != null and job != ''">
                job=#{job},
            </if>
            <if test="detail != null and detail != ''">
                detail=#{detail},
            </if>
            <if test="github != null and github != ''">
                github=#{github},
            </if>
            <if test="weibo != null and weibo != ''">
                weibo=#{weibo},
            </if>
            <if test="icon != null and icon != ''">
                icon=#{icon}
            </if>
        </set>
        where name=#{name}
    </update>


    <insert id="addUserDetail" parameterType="com.boot.pojo.userDetail">
        INSERT INTO t_user_detail (`name`, blogName, job, detail, github, weibo, icon )
        VALUES
	    (
		#{name},
		#{name},
		'编程',
		'暂无详情',
		'https://github.com/',
	    'https://weibo.com/',
	    NULL)
    </insert>


</mapper>