<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.userMapper">

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.boot.pojo.user">
        insert into t_user(username,password,email,created,valid)
        values(#{username},#{password},#{email},#{date},#{valid})
    </insert>

    <insert id="addUserAuthority" parameterType="com.boot.pojo.user_authority">
        insert into t_user_authority (user_id,authority_id) values (#{user_id},#{authority_id});
    </insert>

    <update id="updateEmail">
        update t_user set email = #{email} where username=#{username}
    </update>


    <resultMap id="res1" type="com.boot.pojo.user">
        <result property="email" column="email"/>
        <association property="userDetail" javaType="com.boot.pojo.userDetail">
            <result property="blogName" column="blogName"/>
            <result property="job" column="job"/>
            <result property="detail" column="detail"/>
            <result property="github" column="github"/>
            <result property="weibo" column="weibo"/>
            <result property="icon" column="icon"/>
        </association>

    </resultMap>


    <select id="selectUserInfoByuserName" resultMap="res1">
        SELECT
        t_user.email,
        t_user_detail.blogName,
        t_user_detail.job,
        t_user_detail.detail,
        t_user_detail.github,
        t_user_detail.weibo,
        t_user_detail.icon
        FROM
        t_user,
        t_user_detail
        WHERE
        t_user.username = t_user_detail.NAME
        AND t_user.username = #{username}
    </select>




    <select id="selectPasswordByuserName" resultType="java.lang.String">
        select password from t_user where username=#{username}
    </select>

    <update id="updatePassword">
        update t_user set password = #{password} where username=#{username}
    </update>


    <resultMap id="res2" type="com.boot.pojo.user">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="created" property="date"/>
        <result column="valid" property="valid"/>

        <association property="user_authority" javaType="com.boot.pojo.user_authority">
            <result column="authority_id" property="authority_id"/>
        </association>

    </resultMap>


    <select id="selectAllUser" resultMap="res2">
    SELECT
    t_user.id,
	t_user.username,
	t_user.email,
	t_user.created,
	t_user.valid,
	t_user_authority.authority_id
    FROM
	t_user,
	t_user_authority
    WHERE
	t_user.id = t_user_authority.user_id

    </select>

    <update id="updateValidTo_0">
        update t_user set valid = 0 where username=#{username}
    </update>

    <update id="updateValidTo_1">
        update t_user set valid = 1 where username=#{username}
    </update>

    <update id="updateUserForEmail">
        update t_user set email=#{email} where id=#{id}
    </update>

    <select id="selectUseridByUserName" resultType="int">
        select id from t_user where username=#{username}
    </select>



</mapper>



