<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.visitorMapper">

    <insert id="insertVisitor" parameterType="com.boot.pojo.visitor">
        insert into t_visitor(visit_ip,visit_address,browser,os,visit_time,visit_describe)
        values(#{visit_ip},#{visit_address},#{browser},#{os},#{visit_time},#{visit_describe})
    </insert>

    <select id="selectVisitor" resultType="com.boot.pojo.visitor">
        select id,visit_ip,visit_address,browser,os,visit_time,visit_describe from t_visitor
    </select>



</mapper>