<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>yblog</title>
		<!-- 依 赖 样 式 -->
		<link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
		<!-- 加 载 样 式-->
		<link rel="stylesheet" th:href="@{/pear-admin/css/load.css}" />
		<!-- 布 局 样 式 -->
		<link rel="stylesheet" th:href="@{/pear-admin/css/admin.css}" />
	</head>
	<!-- 结 构 代 码 -->
	<body class="layui-layout-body pear-admin">
		<!-- 布 局 框 架 -->
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<!-- 顶 部 左 侧 功 能 -->
				<ul class="layui-nav layui-layout-left">
					<li class="collaspe layui-nav-item"><a href="#" class="layui-icon layui-icon-shrink-right"></a></li>
					<li class="refresh layui-nav-item"><a href="#" class="layui-icon layui-icon-refresh-1" loading = 600></a></li>
				</ul>
				<!-- 顶 部 右 侧 菜 单 -->
				<div id="control" class="layui-layout-control"></div>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item layui-hide-xs"><a href="#" class="fullScreen layui-icon layui-icon-screen-full"></a></li>
					<li class="layui-nav-item layui-hide-xs"><a th:href="@{/}" class="layui-icon layui-icon-website"></a></li>
					<li class="layui-nav-item layui-hide-xs message"></li>
					<li class="layui-nav-item user">
						<!-- 头 像 -->
						<a href="javascript:;">
							<img th:src="@{/pear-admin/images/avatar.jpg}" class="layui-nav-img">
						</a>
						<!-- 功 能 菜 单 -->
						<dl class="layui-nav-child">
							<form name="logoutform" th:action="@{/logout}" method="post"></form>
							<dd><a href="javascript:document.logoutform.submit();" class="logout">注销登录</a></dd>
						</dl>
					</li>
					<!-- 主 题 配 置 -->
					<li class="layui-nav-item setting"><a href="#" class="layui-icon layui-icon-more-vertical"></a></li>
				</ul>
			</div>
			<!-- 侧 边 区 域 -->
			<div class="layui-side layui-bg-black">
				<!-- 菜 单 顶 部 -->
				<div class="layui-logo">
					<!-- 图 标 -->
					<img class="logo"></img>
					<!-- 标 题 -->
					<span class="title"></span>
				</div>
				<!-- 菜 单 内 容 -->
				<div class="layui-side-scroll">
					<div id="sideMenu"></div>
				</div>
			</div>
			<!-- 视 图 页 面 -->
			<div class="layui-body">
				<!-- 内 容 页 面 -->
				<div id="content"></div>
			</div>
			<!-- 遮 盖 层 -->
			<div class="pear-cover"></div>
			<!-- 加 载 动 画-->
			<div class="loader-main">
				<div class="loader"></div>
			</div>
		</div>
		<!-- 移 动 端 便 捷 操 作 -->
		<div class="pear-collasped-pe collaspe">
			<a href="#" class="layui-icon layui-icon-shrink-right"></a>
		</div>
		<!-- 依 赖 脚 本 -->
		<script th:src="@{/component/layui/layui.js}"></script>
		<script th:src="@{/component/pear/pear.js}"></script>
		<!-- 框 架 初 始 化 -->
		<script th:inline="javascript">
			layui.use(['admin','jquery','convert','popup'], function() {
				var admin = layui.admin;
				var $ = layui.jquery;
				var convert = layui.convert;
				var popup = layui.popup;
				var username=''; //存储ajax获取的用户名
				var icon='';  //存储ajax获取的头像

				//ajax获取后端数据
				$.ajax({
					type: "GET",
					url: "/pear/userInfoData",
					dataType: 'json',
					async: false, //这里一定要同步，不然后面接收不到数据
					success: function(data){
						let js = JSON.parse(data.msg);
						username=js.username;
						icon=js.icon;
					}
				});

				// 初始化顶部用户信息
				admin.setAvatar(icon+'',username+'');

				// 根目录下 pear.config.yml 文件为初始化配置
				// 你可以通过 admin.setConfigPath 方法修改配置文件位置
				// 你可以通过 admin.setConfigType 方法修改配置文件类型
				admin.setConfigType("yml");
				admin.setConfigPath("/config/pear.config.yml");
				admin.render();

				// 登出逻辑
				admin.logout(function(){

					popup.success("注销成功",function(){
						location.href = "/pear/login";
					})
					// 注销逻辑 返回 true / false
					return true;
				})

				// 初始化消息回调
				admin.message();

				// 重写消息回调 [消息列表点击事件]
				// admin.message(function(id, title, context, form) {});

			})
		</script>
	</body>
</html>
